.container {
    width: 800px;
    margin: 0 auto;
    border: rgb(65, 199, 65) solid 0.5px;
    border-radius: 25px;
    height: 100%;
  }
  
  .header {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .gig-image {
    text-align: start;
    /* margin-bottom: 20px; */
  }
  
  .gig-image img {
    width: 200px;
    height: 200px;
    margin: 20px;
    box-shadow: 0px 0px 20px #aaa;
    transition: all 0.3s ease;
  }
  .gig-image img:hover{
    box-shadow: 0px 0px 20px #aaa;
  transform: scale(1.1);
  }
  .gig-details {
    font-size: 20px;
    
    margin: 20px;
  }
  
  .gig-details h2 {
    font-size: 28px;
    margin-bottom: 20px;
    margin: 20px;
  }
  
  .gig-details p {
    margin-bottom: 10px;
    margin: 20px;
  }
h1{
  color: rgb(20, 173, 20);
  margin: 20px;
  font-size: 38px;
}
.gig-details h2{
  color: rgb(7, 177, 7);
  text-align:start;
  margin: 20px;
}